:root {
  --aod-font-family: "Inter", "Segoe UI", sans-serif;
  --aod-font-h1: 32px;
  --aod-font-h2: 24px;
  --aod-font-h3: 20px;
  --aod-font-h4: 20px;
  --aod-font-h5: 20px;
  --aod-font-h6: 18px;
  --aod-font-body1: 16px;
  --aod-font-body2: 14px;
  --aod-font-caption: 12px;
  --aod-font-button: 16px;
  --aod-font-weight-regular: 400;
  --aod-font-weight-medium: 500;
  --aod-font-weight-semibold: 600;
  --aod-font-weight-bold: 700;
}

html,
body {
  font-family: var(--aod-font-family);
  font-size: var(--aod-font-body1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
